.green_button {
	border: 2px solid #3cb43c;
	border-radius: 2px;
	padding: 1px;
	background-color: #18a618;
}

.green_button:hover {
	border: 2px solid #3cb43c;
	border-radius: 2px;
	padding: 1px;
	background-color: #3cb43c;
}

.green_button:active {
	border: 2px solid #3cb43c;
	border-radius: 2px;
	padding: 1px;
	background-color: #49b949;
}
