.error {
  font-size: 45vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ffff99;
  color: #000000;
}

h1 {
  font-size: 2em;
  color: #000000;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 20px;
}

a {
  color: #000000;
  text-decoration: underline;
  z-index: 1;
}

a:hover {
  text-decoration: none;
  z-index: 1;
}
